<table class="ngx-playground-table">
  <tr>
    <th>Input</th>
    <th>Pipe</th>
    <th>Output</th>
  </tr>
  <tr>
    <td>Camel case</td>
    <td>camelCase</td>
    <td>{{ "Camel case" | camelCase }}</td>
  </tr>
  <tr>
    <td>Snake case</td>
    <td>snakeCase</td>
    <td>{{ "Snake case" | snakeCase }}</td>
  </tr>
  <tr>
    <td>Kebab case</td>
    <td>kebabCase</td>
    <td>{{ "Kebab case" | kebabCase }}</td>
  </tr>
  <tr>
    <td>Flat case</td>
    <td>flatCase</td>
    <td>{{ "Flat case" | flatCase }}</td>
  </tr>
  <tr>
    <td>Pascal case</td>
    <td>pascalCase</td>
    <td>{{ "Pascal case" | pascalCase }}</td>
  </tr>
  <tr>
    <td>{{ 10000 }}</td>
    <td>numbroFormatNumber</td>
    <td>{{ 10000 | numbroFormatNumber }}</td>
  </tr>
  <tr>
    <td>{{ 10000 }}</td>
    <td>numbroFormatNumber: 2 (mantissa)</td>
    <td>{{ 10000 | numbroFormatNumber: 2 }}</td>
  </tr>
  <tr>
    <td>{{ 10000 }}</td>
    <td>numbroFormatNumber: 2 (mantissa): true (spaceSeparated)</td>
    <td>{{ 10000 | numbroFormatNumber: 2: true }}</td>
  </tr>
  <tr>
    <td>{{ 10000 }}</td>
    <td>numbroAverage</td>
    <td>{{ 10000 | numbroAverage }}</td>
  </tr>
  <tr>
    <td>{{ 10000 }}</td>
    <td>numbroAverage: 2 (mantissa)</td>
    <td>{{ 10000 | numbroAverage: 2 }}</td>
  </tr>
  <tr>
    <td>{{ 10000 }}</td>
    <td>numbroAverage: 2 (mantissa): true (spaceSeparated)</td>
    <td>{{ 10000 | numbroAverage: 2: true }}</td>
  </tr>
</table>
