<table class="ngx-playground-table">
  <tr>
    <th>Input</th>
    <th>Pipe</th>
    <th>Output</th>
  </tr>
  <tr>
    <td>Camel case</td>
    <td>camelCase</td>
    <td>{{ "Camel case" | camelCase }}</td>
  </tr>
  <tr>
    <td>Snake case</td>
    <td>snakeCase</td>
    <td>{{ "Snake case" | snakeCase }}</td>
  </tr>
  <tr>
    <td>Kebab case</td>
    <td>kebabCase</td>
    <td>{{ "Kebab case" | kebabCase }}</td>
  </tr>
  <tr>
    <td>Flat case</td>
    <td>flatCase</td>
    <td>{{ "Flat case" | flatCase }}</td>
  </tr>
  <tr>
    <td>Pascal case</td>
    <td>pascalCase</td>
    <td>{{ "Pascal case" | pascalCase }}</td>
  </tr>
  <tr>
    <td>{{ 10000 }}</td>
    <td>numbroFormat</td>
    <td>{{ 10000 | numbroFormat: true: 8 }}</td>
  </tr>
</table>
